Release\history-import.exe --miranda --from="C:\from\path" --to="C:\path\cthulhu-bot\logs" --conf-name="room1@conference.jabber.ru" --minutes-delta=-420
Release\history-import.exe --miranda --from="C:\from\path" --to="C:\path\cthulhu-bot\logs" --conf-name="room1@conference.jabber.ru" --minutes-delta=-420